@font-face {
  font-family: "MiSans";
  src: url("https://font.sec.miui.com/font/css?family=MiSans:400,700:MiSans");
}

/* *{
  --md-text-font: "MiSans";
  font-variant-numeric: tabular-nums;
} */

.md-grid {
  max-width: 1440px; 
}


/* :root {
  --md-text-font: "MiSans"; 
} */

.md-button{
  margin: 2px 0 2px 0;
}

@media screen and (min-width: 45em) {
      .md-social {
          padding: 0;
      }
  }

.md-copyright{
  padding: .2rem 0;
}

.md-footer-meta__inner{
  padding: 0;
}

.lee-button{
  padding: .125em 1em;
  display: inline-block;
  min-width: 180px; 
  /* text-align: center; */
}

h2 {
  font-family: 'Chiron Sung HK';
}

.md-typeset h2 {
  font-weight: 700;
}

.copy-button {
  float: right;
  margin-left: 1rem;
  margin-top: 5px;
  cursor: pointer;
  color: var(--md-default-fg-color--lightest);
}

.copy-button:hover {
  color: var(--md-accent-fg-color);
}